@font-face {
    font-family: 'Cipher 1.10';
    src: url('Cipher+1.10.otf') format("opentype");
    font-style: BaseM;
    /*font-weight: bold;
    font-style: normal;
    font-display: swap;*/
}
@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.woff2') format('woff2'), url('MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#inBox {
    font-family: 'Cipher 1.10';
    font-size: 50px;
}

#output {
    font-family: 'Cipher 1.10';
    font-size: 75px;
}



#submit {
    margin: 50px;
    padding: 10px;
    background-color: gray;
}